<a href="https://colab.research.google.com/github/ganbing0630/su3cl3/blob/main/EX03_04_%E8%96%AA%E6%83%85%E5%B9%B3%E5%8F%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
!wget -O earning.xlsx https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-earnings.xlsx
df = pd.read_excel('earning.xlsx')
df.head()

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

In [ ]:
df.dropna(subset=['Unnamed: 1'], inplace=True)
df.head()

In [15]:
df.rename(columns={'Unnamed: 1' : '年度'},inplace=True)
df.head()

,年度,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
2,81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,-,35670,20463,21485
3,82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,-,37176,21124,22150
4,83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,-,39633,22133,23205
5,84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,-,41623,22116,25077
6,85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,-,44797,23532,25846

In [16]:
df.set_index('年度', inplace=True)
df.head()

,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
年度,,,,,,,,,,,,,,,,,
81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,-,35670,20463,21485
82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,-,37176,21124,22150
83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,-,39633,22133,23205
84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,-,41623,22116,25077
85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,-,44797,23532,25846

In [17]:
for col in df.columns:
  df[col] = pd.to_numeric(df[col],errors = 'coerce')
df.head()

,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
年度,,,,,,,,,,,,,,,,,
81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,NaN,35670,20463,21485
82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,NaN,37176,21124,22150
83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,NaN,39633,22133,23205
84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,NaN,41623,22116,25077
85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,NaN,44797,23532,25846

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 81年 to 113年
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   礦業及土石採取業             33 non-null     int64
 1   製造業                  33 non-null     int64
 2   電力及燃氣供應業             33 non-null     int64
 3   用水供應及污染整治業           33 non-null     int64
 4   營建工程業                33 non-null     int64
 5   批發及零售業               33 non-null     int64
 6   運輸及倉儲業               33 non-null     int64
 7   住宿及餐飲業               33 non-null     int64
 8   出版影音及資通訊業            33 non-null     int64
 9   金融及保險業               33 non-null     int64
 10  不動產業                 33 non-null     int64
 11  專業﹑科學及技術服務業          33 non-null     int64
 12  支援服務業                33 non-null     int64
 13  教育業（不含小學以上各級公私立學校等）  16 non-null     float64
 14  醫療保健及社會工作服務業         33 non-null     int64
 15  藝術﹑娛樂及休閒服務業          33 non-null     int64
 16  其他服務業                33 non-null     int64
dtypes: float64(1), int64(16)
memory usage: 4.6+ KB

In [21]:
df.loc['81年'].idxmax(), df.loc['81年'].max()

('電力及燃氣供應業', 60937.0)

In [22]:
df.loc['81年'].idxmin(), df.loc['81年'].min()

('住宿及餐飲業', 18209.0)

In [23]:
df.loc['81年'].mean()

np.float64(33232.0)

In [24]:
df['醫療保健及社會工作服務業'].idxmax(), df['醫療保健及社會工作服務業'].max()

('107年', 71569)

In [25]:
df.loc['113年'].nlargest(3)

金融及保險業       107348.0
電力及燃氣供應業      96669.0
出版影音及資通訊業     83803.0
Name: 113年, dtype: float64

In [26]:
df.loc['113年'].nsmallest(3)

教育業（不含小學以上各級公私立學校等）    34121.0
住宿及餐飲業                 38555.0
其他服務業                  40129.0
Name: 113年, dtype: float64

In [27]:
for id in df.index:
  print(id, df.loc[id].nlargest(3).index.to_list())

81年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
82年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
83年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
84年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
85年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
86年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
87年 ['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業']
88年 ['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業']
89年 ['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業']
90年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
91年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
92年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
93年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
94年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
95年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
96年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
97年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
98年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
99年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
100年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
101年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
102年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
103年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
104年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
105年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
106年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
107年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
108年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
109年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
110年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']
111年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']
112年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']
113年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']

In [28]:
for id in df.index:
  print(id, df.loc[id].nsmallest(3).index.to_list())

81年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
82年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
83年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
84年 ['藝術﹑娛樂及休閒服務業', '住宿及餐飲業', '其他服務業']
85年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
86年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
87年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
88年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
89年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
90年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
91年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
92年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
93年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
94年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
95年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
96年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
97年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
98年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
99年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
100年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
101年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
102年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
103年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業']
104年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
105年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
106年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
107年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
108年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
109年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
110年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
111年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業']
112年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業']
113年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']